* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */

.header-container {
    background-color: #1F2937;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    align-items: center;
}

.nav-logo {
    font-size: 24px;
    color: #F9FAF8; 
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 440px;
    font-size: 18px;
}

.nav-list a {
    text-decoration: none;
    color: #E5E7EB;    
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    align-items: stretch;
    padding: 30px 300px;
    gap: 30px;
}

.hero-main {
    display: flex;
    flex: 1;
    gap: 10px;  
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;  
}

.hero-main button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

.hero-placeholder {
    display: flex;
    flex: 1;
    background-color: darkgray;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

/* Information */

.information-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
        justify-content: space-between;
    padding: 20px 300px;
    align-items: center;
}

.information-content-container {
    display: flex;
    gap: 50px;
    width: 100%;
}

.information-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 240px;
    gap: 10px;
}

.information-image {
    border: 3px solid#3882F6;
    border-radius: 10px;
    height: 140px;
    width: 100%;
}

.information-content p {
    opacity: 0.5;
    text-align: center;
}

/* Quote */

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.quote-content {
    display: flex;
    width: 800px;
    flex-direction: column;
}

.quote-content article {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 800px;
}

.quote-content p {
    font-size: 26px;
    font-weight: 500;
    align-self: flex-end;
}

/* Action */

.action-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action-content {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    width: 1000px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.action-content p {
    opacity: 0.7;
    font-weight: 300;
}

.action-content button {
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 400;
    color: #F9FAF8;
    width: 120px;
    height: 35px;
    border: none;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

/* Footer */

.footer-container {
    display: flex;
    background-color: #1F2937;
    flex: 1;
}